@charset "UTF-8";
body{
	background-color:#e9e9e9;
}

.mao{
	display: block;
	margin-left:600px;
	position:absolute;
}
.log1{
	display:block;
	margin-top:0px;
	margin-left:0px;
}
.img-button1{
	display:inline-block;
	margin-left:0px;
	margin-top:0px;
	width:200px;
	height:100px;
}
.img-button2{
	display:inline-block;
	margin-left:50px;
	margin-top:0px;
	width:200px;
	height:100px;
}

.name{
	width:200px;
	height:100px;
	margin-top:96px;
	margin-left:133px;
	background-color:black;
	border-radius:50%;
	
}
.name-xia{
	display:block;
	margin-left:80px;
	font-size:20px;
	font-weight:bold;
	color:white;
}
.tip{
	width:200px;
	height:200px;
	border-radius:20% 20%;
	margin-top:150px;
	margin-left:250px;
}
